extends ../includes/layout
block main-content
    div(data-ng-controller="mainController")
        input(type="text", data-ng-model="newFruit")
        input(type="button", value="add", data-ng-click="addFruit()")
        {{fruits}}

        ul.list-group
            li.list-group-item(data-ng-repeat="f in fruits")
                {{f.name}}
                input(type="button", value="delete", data-ng-click="deleteFruit(f.id)")