doctype
html
    head
        base(href="/")
        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body()
        block main-content
        
  head
    base(href="/")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/angular-ui-bootstrap/dist/ui-bootstrap-csp.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
  body

    block content
    include scripts

    footer
       hr(style="height:0.5px; background-color:#333;")
      .container
p(class="text-muted credit") Aarsh Talati